@import "reset.css";
:root {
  --bg: rgba(0, 0, 0, 0.2);
  --text: rgba(0, 0, 0, 0.8);
  --subText: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 96vh;
  width: 100%;
}

.wrapper {
  max-width: 1240px;
  height: 100%;
  margin: 20px;
  background-color: var(--bg);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2px;
  padding: 2px;
}

.wrapper > * {
  color: var(--text);
  height: 100%;
  overflow: hidden;
  background-color: white;
}

header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}

h1 > div {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

h1 div span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--text);
  color: white;
  margin-left: 10px;
}

h3,
h5 {
  font-size: 12px;

  margin-bottom: 5px;
}

h3 {
  font-weight: 600;
  color: var(--subText);
  text-transform: uppercase;
}

h3 > div {
  margin-top: 6px;
}

nav {
  grid-row: span 2;
}
ul {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 100%;
  gap: 2px;
}
li {
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
}

li:hover {
  color: white;
  background-color: var(--bg);
}

main {
  padding: 10px;
  grid-column: span 2;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.main__title {
  display: flex;
  align-items: center;
}
.main__title-icon {
  height: 15px;
  width: 15px;
  margin-left: 5px;
  border-radius: 10px;
  background-color: var(--text);
  align-self: center;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.main__content span {
  margin-bottom: 10px;
}

#map {
  height: 100%;
}

footer {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.copyright {
  font-size: 10px;
}

.gallary1 {
  background: url("img/kids.jpeg");
}
.gallary2 {
  background: url("img/painting.jpeg");
}
.gallary3 {
  background: url("img/world.jpeg");
}
.gallary4 {
  background: url("img/office.jpeg");
}
.gallary5 {
  background: url("img/stock.jpeg");
}
.gallary6 {
  background: url("img/woods.jpeg");
}
.gallary7 {
  background: url("img/paperroll.jpeg");
}
.gallary8 {
  background: url("img/cartonsheet.jpg");
}
.gallary {
  background-size: cover;
  background-position: center;
  height: 100%;
}

header,
footer,
nav {
  background: url("img/dizzypaper.jpeg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.hidden {
  display: none;
}
